$grayColor: #808080;
$lightGrayColor: #c1c1c1;
$softGrayColor: #eaeaea;
$whiteColor: #fff;
$blackColor: #000;

$darkBlueColor: #1c2a3f;
$transparentBlueColor: rgba($darkBlueColor, 0.7);
$lightBlueColor: #2e4363;
